@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

.app{
    clear: both;
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    justify-content: flex-end;
    position: relative;
}

header, footer{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

footer{
    bottom: 0px;
    position: fixed;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 5px -5px #333;
    z-index: 5;
}

.button_footer{
    background-image: url("./images/arrowleft_icon-icons.com_61207.png");
    background-repeat: no-repeat;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 5px;
    Width: 169px;
    Height: 52px;
    margin-left: 126px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 52px;
    color: #828282;
    text-align: center;
    background-position: center;
    background-position-x: 40px;
    background-size: 15px 15px;
}

.next{
    background-image: url("./images/rightarrow_116394.png");
    background-position-x: 110px;
    margin-right: 30px;
}

.content_main{
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    height: 100%;
}

.content{
    width: 100%;
    height: 844px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #F7F7F8;
    margin-right: auto;
    margin-left: auto;
}

.vector_header{
    margin-left: 25px;
}

.input_header{
    margin-left: 10px;
    background-repeat: no-repeat;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #BDBDBD;
}

.Notification_header{
    position: absolute;
    right: 108px;
}

.user_header{
    position: absolute;
    right: 25px;
}

.footer_ul{
    margin-left: 79px;
    display: flex;
    flex-direction: row;
}

.footer_li{
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #1E2128;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.3;
}

.footer_line{
    width: 145px;
    height: 5px;
    background-color: #1E2128;
    border-radius: 5px;
    margin-top: 5px;
}

.main_text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 25px;
}

.header_text{
    display: flex;
    flex-direction: row;
}

.arrow_header{
    width: 10px;
    height: 15px;
    margin-right: 5px;
}

.header_span_first{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1E2128;
}

.header_main{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.1em;
    color: #1E2128;
    margin-top: 40px;
}

.header_main_after{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #1E2128;
}

.active_footer_li{
    opacity: 100%;
}

.content_ul_upload{
    width: 100%;
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content_li_upload{
    width: 464px;
    height: 349px;
    margin-right: 23px;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    display: flex;
    align-items: center;
    color: #1E2128;
    border-radius: 5px;
    border: 0.5px solid #0E4197;
    box-sizing: border-box;
    background: #FFFFFF;
}

.content_li_upload form input{
    border-radius: 100px;
}

.drag{
    border: 1px dashed #0E4197;
    flex-direction: column;
    justify-content: center;
}

.li_text_upload{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #BDBDBD;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
}

.left_button_text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: -275px;
}

.li_picture_upload{
    width: 52px;
    height: 52px;
}

.li_picture_location{
    width: 24px;
    height: 24px;
}

.bold{
    font-weight: bold;
}

.active_content_li{
    background: #0E4197;
    color: #FFFFFF;
}

.active_button{
    color: #0E4197;
    border: 1px solid #0E4197;
}

.save_project_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 55px;
}

.project_create {
    display: flex;
    flex-direction: column;
}

.project_create img {
    height: 52px;
}

.project_create h2 {
    color: #333333;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.project_create span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 190%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #333333;
}

.project_name {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.project_name label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    gap: 5px;
}

.project_name label input {
    width: 295px;
    border: unset;
    border-bottom: 1px solid #828282;
    background-color: unset;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #0E4197;
}

.save_project_button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140.62%;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0;
    background: #0E4197;
    border-radius: 5px;
    width: 150px;
    border: unset;
}

.skip_button {
    display: flex;
    font-weight: bold;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 5px
}